<header class="navbar navbar-fixed-top navbar-inverse">
        
      <div class="container">
          <%= link_to "Spretta_Web", root_path, id: "logo" %>
          <nav>
              <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to "Á aðalsíðu", root_path %></li>
                  <li><%= link_to "Þátttakendur", '#' %></li>
                  <li><%= link_to "Um Sprettu", about_path %></li>
                  <li><%= link_to "Leiðbeiningar", help_path %></li>
                  <li><%= link_to "Innskráning", '#' %></li>
              </ul>
          </nav>
        </div>
    </header>